
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}





.group1{
	height:854px;
	width: 100%;
	background-image: url(img/group1-bg.jpg);
	position:relative;
}


.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 75px;
	position: absolute;
	width: 100%;

	}
.navbar ul {
	
	list-style: none;
}

.navbar ul li {
	display: inline-block;
	/* text-decoration: none; */
	margin: 0 45px;
}

.navbar ul a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bolder;
	transition: 0.5s;
}

.navbar ul a:hover{
	color:#cc9933;
}
.img {
	width: 43%;
	position: absolute;
	top: 35%;
	left: 7%;
}
.group-details {
	height: 410px;
	width: 545px;
	position: absolute;
	top: 40%;
	right: 2%;
}
.group-details h1{
	color: #cc9900;
	font-size: 66.67px;
	
}
.group-details p {
	color: #FFFFFf;
	font-size: 25px;
	margin: 40px 0;
}

.button {
	background-color: #e58f00;
	border: none;
	color: white;
	padding: 13px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	
	cursor: pointer;
	width: 183px;
	height: 58px;
	align-content: ;
	border-radius: 5px;
	text-transform: capitalize;
	font-weight: bold;
}

/*group2*/
.group2{
	height:2765px;
	width: 100%;
	background-color: #1d1d23;
	position: relative;
}

.g2-i1 {
	width: 600px;
	height: 600px;
	margin-top: 127px;
	margin-left: 95px;
}

.g2-details {
	width: 535px;
	height: 400px;
	position: absolute;
	top: 11%;
	right: 5%;
}

.g2-details h2 {
	color: #ffffff;
	font-size: 50.02px;
	font-weight: bold;
}

.g2-details p {
	font-size: 32.33px;
	color: #ffffff;
	
}


.g2is {
	width: 1326px;
	height: 1680px;
	margin-top: 200px;
}
.g2ib {
	position: absolute;
	top: 27%;
	right: 0;
	width: 400px;
	height: 750px;
}

.g2ic {
	left: 0;
	position: absolute;
	bottom: 8%;
	width: 475px;
}




.g2id {
	position: absolute;
	right: 0;
	bottom: 6%;
	width: 60.2%;
}

/*group3*/
.group3 {
	width: 100%;
	height: 1365px;
	
	background-color: #1d1d23;
}


.g3d {
	text-align: center;
	/* margin-top: 100px; */
	padding-top: 100px;
}



.g3d h2{
	color: #ffffff;
	font-size: 50px;
}


.g3p {
	padding-top: 100px;
	padding-bottom: 180px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.g3p img {
	padding-bottom: 50px;
}

/*g4444444444*/
.group4 {
	height: 965px;
	background-image:url(img/group4-bg.jpg);
	width: 100%;
	position: relative;
}

.info {
	width: 730px;
	height: 580px;
	border: 10px solid #e58f00;
	position: absolute;
	top: 20%;
	left: 26%;
	align-items: center;
	
	text-align: center;
}

.info h2 {
	font-size: 50px;
	color: #ffffff;
	padding-top: 85px;
}

.info p {
	font-size: 33.33px;
	padding: 32px 95px 0 95px;
	color: #ffffff;
}


/*group5*/


.group5 {
	height: 1080px;
	background-color: #1d1d23;
}


.group5 h2 {
	color: #ffffff;
	font-size: 50px;
	text-align: center;
	padding-top: 180px;
}

.colum {
	display: flex;
	justify-content: space-evenly;
}
.row {
	width: 400px;
	height: 580px;
}

.row h3 {
	font-size: 26.4px;
	padding-top: 45px;
	color: #cc9900;
}
.row p {
	padding: 30px 0;
	font-size: 16.67px;
	color: #ffffff;
	font-weight: bold;
}
.row h4 {
	font-size: 25px;
	color: #e58f00;
	font-weight: bold;
	padding-top: 35px;
}


/*footer*/
footer {
	width: 100%;
	height: 945px;
	position: relative;
}
.f-img {
	position: absolute;
	width: 47%;
	left: 0;
	top: -7%;
}
.footer-top {
	height: 55%;
	background-color: #e58f00;
}

.footer-top h2 {
	position: absolute;
	right: 14%;
	top: 14%;
	font-size: 50.02px;
	color: #ffffff;
}
.footer-top p {
	position: absolute;
	font-size: 33.33px;
	width: 34%;

	right: 6.5%;
	top: 23%;
	color: #ffffff;
	font-weight: bold;
}

.footer-bottom {
	background-color: #35353b;
	height: 45%;
	position: absolute;
	width: 100%;
}
.footer-bottom img {
	top: 25%;
	position: absolute;
	left: 32%;
}

.footer-bottom ul {
	list-style: none;
	display: flex;
	justify-content: ;
	position: absolute;
	top: 60%;
	left: 17%;
}
.footer-bottom ul li {
	padding: 2px 33px;
	color: #fff;
}
.footer-bottom ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 20.83px;
	font-weight: bold;
}













